@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 992px;
    /* border: 3px solid white; */
}

body {
    background-size: 100%;
    background-image: url(../images/login-bk-desktop.png);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
}

/* Cabeçalho */
header {
    background-color: #202529;
    height: 100px;
    width: 100%;
    color: rgb(65, 136, 197);
    display: flex;
    justify-content: center;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.section-flex {
    width: 100%;
    background-color: aliceblue;
}

header nav {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: white;
    text-decoration: none;
}

/* Estilos para a tela de login */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 100px);
}

.login-box {
    background-color: rgba(255, 255, 255, 0.386);
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 900px;
    text-align: center;
}

.login-title {
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-input {
    padding: 3px;
    font-size: 1rem;
    width: 300px;
    align-items: center;

}

.forgot-password {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    text-decoration: none;
    align-self: flex-end;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    padding: 0.75rem;
    background-color: #202529;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    width: 300px;
    align-items: center;
}

.login-button:hover {
    background-color: #3691d8;
}